@{
    ViewData["Title"] = "Home Page";
}
@model List<TaskEtkinlik.Core.DTOs.EventWithCategoryDto>

<div class="featured-content" style="background: linear-gradient(to bottom, rgba(0,0,0,0),#151515),url('@Url.Content("~/css/images/gatsby.jpg")');">
       @* <img class="fatured-title" src="~/css/images/f-t-1.png" alt="">*@
    <p class="featured-desc" style="font-size:30px">The Greate Gasby</p>
        <p class="featured-desc">Lorem ipsum dolor sit amet conseecto fuga esse, saepe nam dolor error blanditiis facilis dolores quibusdam iure.</p>
    <a asp-action="Detail" asp-controller="Event"  class="movie-list-item-button">Watch</a>

    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Series</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">

                @foreach (var item in Model)
                {
                    if (item.CategoryId == 3)
                    {
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="@Url.Content(item.ImagePath)" alt="">
                            <span class="movie-list-item-title">@item.Name</span>
                           @* <p>@item.Date.ToShortDateString()</p>*@
                            <a asp-action="Detail" asp-controller="Event" asp-route-id="@item.Id" class="movie-list-item-button">Watch</a>
                        </div>
                    }

                }



            </div>
            <i class="fa-solid fa-chevron-right arrow"></i>
        </div>
    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Movies</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">

                @foreach (var item in Model)
                {
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="@Url.Content(item.ImagePath)" alt="">
                        <span class="movie-list-item-title">@item.Name</span>
                       @* <p>@item.Date</p>*@
                        <a asp-action="Detail" asp-controller="Event" asp-route-id="@item.Id" class="movie-list-item-button">Watch</a>
                    </div>
                }
            </div>
            <i class="fa-solid fa-chevron-right arrow"></i>
        </div>
    </div>
<div class="featured-content" style="background: linear-gradient(to bottom, rgba(0,0,0,0),#151515), url('@Url.Content("~/css/images/blog1.jpg")') ;">
        @*<img class="fatured-title" src="~/css/images/f-t-1.png" alt="">*@
        <p class="featured-desc">Lorem ipsum dolor sit amet conseecto fuga esse, saepe nam dolor error blanditiis facilis dolores quibusdam iure.</p>
      <a asp-action="Detail" asp-controller="Event"  class="movie-list-item-button">Watch</a>

    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Concert</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">

                @foreach (var item in Model)
                {
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="@Url.Content(item.ImagePath)" alt="">
                        <span class="movie-list-item-title">@item.Name</span>
                        @*<p>@item.Date</p>*@
                        <a asp-action="Detail" asp-controller="Event" asp-route-id="@item.Id" class="movie-list-item-button">Watch</a>
                    </div>
                }
            </div>
            <i class="fa-solid fa-chevron-right arrow"></i>
        </div>
    </div>
    <div class="movie-list-container">
        <h1 class="movie-list-title">Theatre</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">

                @foreach (var item in Model)
                {
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="@Url.Content(item.ImagePath)" alt="">
                        <span class="movie-list-item-title">@item.Name</span>
                       @* <p>@item.Date</p>*@
                        <a asp-action="Detail" asp-controller="Event" asp-route-id="@item.Id" class="movie-list-item-button">Watch</a>
                    </div>
                }
            </div>
            <i class="fa-solid fa-chevron-right arrow"></i>
        </div>
    </div>



    



